@font-face
{
	font-family: 'Courier_Prime';
	src: url('Courier_Prime.ttf');
}
body
{
	font-family: Courier_Prime;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main
{
	flex: 1 0 auto;
/*}
.row.jumbotron
{
	margin-left: 0;
	margin-right: 0;
}
.jumbotron
{
	background-image: url("img/licorne-header.jpeg");
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: 797px) {
	.jumbotron
	{
		background-image: url("img/licorne-header.jpeg");
		min-height: 100vh;
		background-repeat: no-repeat;
	}
}*/
