.container {
  display: flex;
}

.horizontal-layout {
  .container;
  flex-direction: row;
}

.vertical-layout {
  .container;
  flex-direction: column;
}

.center {
  align-items: center;
}

.end {
  align-items: flex-end;
}

.center-justified {
  justify-content: center;
}

.end-justified {
  justify-content: flex-end;
}

.around-justified {
  .center;
  justify-content: space-around;
}