.container {
  display: flex;
}
.horizontal-layout {
  display: flex;
  flex-direction: row;
}
.vertical-layout {
  display: flex;
  flex-direction: column;
}
.center {
  align-items: center;
}
.end {
  align-items: flex-end;
}
.center-justified {
  justify-content: center;
}
.end-justified {
  justify-content: flex-end;
}
.around-justified {
  align-items: center;
  justify-content: space-around;
}
